<q-drawer
  bordered
  v-model="drawer"
  show-if-above
  :width="300"
  :breakpoint="500"
  class="bg-white"
>
  <div
    class="text-h5 text-center text-grey-8"
    style="height: 64px; display: grid; align-items: center; border-bottom: 1px solid #dadce0;"
  >
    SampleFLOW
  </div>

  <div
    class="row items-center q-px-md q-py-lg"
    style="border-bottom: 1px solid #dadce0"
  >
    <template v-if="loading">
      <q-skeleton type="QAvatar" size="40px"></q-skeleton>
      <div class="q-ml-sm" style="max-width: 200px">
        <q-skeleton type="text" style="width: 100px; font-size: 0.65em"></q-skeleton>
        <q-skeleton type="text" style="width: 150px"></q-skeleton>        
        <q-skeleton type="text" class="q-mt-xs" style="width: 200px"></q-skeleton>
      </div>
    </template>
    <template v-else>
      <q-avatar size="40px" color="primary" text-color="white" >{{ user.name.slice(0, 1) }}</q-avatar>
      <div class="q-ml-sm" style="max-width: 200px">
        <div style="font-size: 0.65em;">
          <span v-for="(role, index) in user.roles" style="font-size: 0.65em;">
            {{ index >= 1 ? "　/　" : "" }}  
            {{ role.groupName }}　{{ role.levelName }}
          </span>
        </div>
        <div>{{ user.name }}</div>
        <div class="text-caption q-mt-xs">ID: {{ user.email }}</div>
      </div>
    </template>
  </div>
  


  <q-list class="q-mt-md text-grey-8">
    <q-item
      v-ripple clickable
      @click="switchPage('apply', { menu: 'apply' }, true)"
      :active="params.menu === 'apply'"
      class="drawer-item"
      active-class="active-drawer-item"
    >
      <q-item-section avatar style="min-width: 36px;">
        <q-icon name="o_send"></q-icon>
      </q-item-section>
      <q-item-section>
        <q-item-label>申請</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-ripple clickable
      @click="switchPage('review', { menu: 'review' }, true)"
      :active="params.menu === 'review'"
      class="drawer-item"
      active-class="active-drawer-item"
    >
      <q-item-section avatar style="min-width: 36px;">
        <q-icon name="o_description"></q-icon>
      </q-item-section>
      <q-item-section>
        <q-item-label>レビュー</q-item-label>
      </q-item-section>
    </q-item>

    <q-item
      v-ripple clickable
      @click="switchPage('search', { menu: 'search' }, true)"
      :active="params.menu === 'search'"
      class="drawer-item"
      active-class="active-drawer-item"
    >
      <q-item-section avatar style="min-width: 36px;">
        <q-icon name="o_search"></q-icon>
      </q-item-section>
      <q-item-section>
        <q-item-label>検索</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</q-drawer>