<div class="text-h4 q-mb-lg">レビュー</div>
<q-card flat bordered>
  <q-tabs
    v-model="params.tab_review"
    class="text-grey"
    active-color="primary"
    indicator-color="primary"
    align="justify"
    narrow-indicator
  >
    <q-tab name="inReview" label="未レビュー"></q-tab>
    <q-tab name="reviewed" label="レビュー済"></q-tab>
    <q-tab name="lookIn" label="事前閲覧・回覧"></q-tab>
  </q-tabs>

  <q-separator></q-separator>

  <q-tab-panels v-model="params.tab_review" animated class="q-pa-lg">
    <q-tab-panel name="inReview">
      <div class="text-h5">未レビュー</div>

      <template v-if="loading">
        <q-item v-for="n in 5" class="q-pa-md">
          <q-item-section>
            <q-item-label>
              <q-skeleton type="text"></q-skeleton>
            </q-item-label>
            <q-item-label caption>
              <q-skeleton type="text" width="65%"></q-skeleton>
              <q-skeleton type="text" width="65%"></q-skeleton>
            </q-item-label>
          </q-item-section>
        </q-item>        
      </template>

      <template v-else>
        <div v-if="!reviewableApps.length" class="text-center">
          <q-icon name="o_task_alt" color="grey-4" size="150px"></q-icon>
          <p class="text-grey">未レビューの申請はありません</p>
        </div>      

        <div v-else>
          <q-list separator class="q-pa-md">
            <template v-for="app in reviewableApps">
              <q-item clickable v-ripple @click="handleClickAppListItem(app.formId, app.responseId)">
                <q-item-section>
                  <q-item-label>{{ app.title }}</q-item-label>
                  <q-item-label caption>{{ app.applicantName }}（{{ app.applicantGroupName }}） {{ app.applyDateTimeString }}</q-item-label>
                  <q-item-label caption lines="1">{{ app.caption }}</q-item-label>
                </q-item-section>
                <q-item-section side top>
                  <q-badge color="teal" :label="app.formTitle"></q-badge>
                </q-item-section>
              </q-item>
            </template>
          </q-list>
        </div>
      </template>
    </q-tab-panel>

    <q-tab-panel name="reviewed">
      <div class="text-h5">レビュー済</div>

      <template v-if="loading">
        <q-item v-for="n in 5" class="q-pa-md">
          <q-item-section>
            <q-item-label>
              <q-skeleton type="text"></q-skeleton>
            </q-item-label>
            <q-item-label caption>
              <q-skeleton type="text" width="65%"></q-skeleton>
              <q-skeleton type="text" width="65%"></q-skeleton>
            </q-item-label>
          </q-item-section>
        </q-item>        
      </template>

      <template v-else>
        <div v-if="!reviewedApps.length" class="text-center">
          <q-icon name="o_folder_off" color="grey-4" size="150px"></q-icon>
          <p class="text-grey">レビュー済かつワークフロー未完了の申請はありません</p>
        </div>      

        <div v-else>
          <q-list separator class="q-pa-md">
            <template v-for="app in reviewedApps">
              <q-item clickable v-ripple @click="handleClickAppListItem(app.formId, app.responseId)">
                <q-item-section>
                  <q-item-label>{{ app.title }}</q-item-label>
                  <q-item-label caption>{{ app.applicantName }}（{{ app.applicantGroupName }}） {{ app.applyDateTimeString }}</q-item-label>
                  <q-item-label caption lines="1">{{ app.caption }}</q-item-label>
                </q-item-section>
                <q-item-section side top>
                  <q-badge color="teal" :label="app.formTitle"></q-badge>
                </q-item-section>
              </q-item>
            </template>
          </q-list>
        </div>
      </template>
    </q-tab-panel>


<!-- viewableApps -->
    <q-tab-panel name="lookIn">
      <div class="text-h5">事前閲覧・回覧</div>
      <template v-if="loading">
        <q-item v-for="n in 5" class="q-pa-md">
          <q-item-section>
            <q-item-label>
              <q-skeleton type="text"></q-skeleton>
            </q-item-label>
            <q-item-label caption>
              <q-skeleton type="text" width="65%"></q-skeleton>
              <q-skeleton type="text" width="65%"></q-skeleton>
            </q-item-label>
          </q-item-section>
        </q-item>        
      </template>

      <template v-else>
        <div v-if="!viewableApps.length" class="text-center">
          <q-icon name="o_folder_off" color="grey-4" size="150px"></q-icon>
          <p class="text-grey">事前閲覧・回覧対象の申請はありません</p>
        </div>      

        <div v-else>
          <q-list separator class="q-pa-md">
            <template v-for="app in viewableApps">
              <q-item clickable v-ripple @click="handleClickAppListItem(app.formId, app.responseId)">
                <q-item-section>
                  <q-item-label>{{ app.title }}</q-item-label>
                  <q-item-label caption>{{ app.applicantName }}（{{ app.applicantGroupName }}） {{ app.applyDateTimeString }}</q-item-label>
                  <q-item-label caption lines="1">{{ app.caption }}</q-item-label>
                </q-item-section>
                <q-item-section side top>
                  <q-badge color="teal" :label="app.formTitle"></q-badge>
                </q-item-section>
              </q-item>
            </template>
          </q-list>
        </div>
      </template>
    </q-tab-panel>
  </q-tab-panels>
</q-card>